$color-lines: #42567a;

.timeline {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 16.6vw;
	height: auto;
	width: 75%;

	&-label {
		position: absolute;
		top: 10%;
		left: 5%;
		font-size: 56px;
		font-weight: bold;
		color: $color-lines;
		z-index: 10;
		width: 10%;
	}

	// Центральная вертикальная линия
	.timeline-center-line-vertical {
		opacity: 0.5;
		position: absolute;
		top: 0;
		left: 50%;
		width: 0.1px;
		height: 95vh;
		background-color: $color-lines;
		transform: translateX(-50%);
		z-index: 2;
	}

	// Центральная горизонтальная линия
	.timeline-center-line-horizontal {
		opacity: 0.5;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: $color-lines;
		transform: translateY(-50%);
		z-index: 2;
	}

	// Граница слева
	&::before {
		opacity: 0.5;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 1px;
		height: 95vh;
		background-color: $color-lines;
		z-index: 2;
	}

	// Граница справа
	&::after {
		opacity: 0.5;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 1px;
		height: 95vh;
		background-color: $color-lines;
		z-index: 2;
	}

	&-circle {
		position: absolute;
		width: 49.629vh;
		height: 49.629vh;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 1px solid rgba($color-lines, 0.5);
		border-radius: 50%;
		z-index: 2;
	}

	&-dot {
		opacity: 1;
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.3s;
		cursor: pointer;
		background-color: #000000;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		border: 1px solid #6e6e6e;
		z-index: 10;

		&.active {
			width: 56px;
			height: 56px;
			transform: translate(-50%, -50%) scale(1.2);
			background-color: white;
		}

		&:hover {
			width: 56px;
			height: 56px;
			transform: translate(-50%, -50%) scale(1.2);
			background-color: white;
		}
	}

	&-info {
		position: relative;
		margin-top: calc(49.629vh + 250px);
		max-width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
		z-index: 3;
	}

	.swiper-container {
		position: relative;
		width: 100%;
		padding: 0 60px;
		box-sizing: border-box;
		overflow: hidden;

		.swiper-slide {
			font-family: PT Sans, sans-serif;
			box-sizing: border-box;
			width: calc(100% / 3);
			padding: 10px;
			word-wrap: break-word;
			overflow-wrap: break-word;
			white-space: normal;
			min-height: 12.5vh;
			max-height: 12.5vh;

			.slide-title {
				font-size: 25px;
				color: #3877ee;
			}

			.slide-description {
				font-size: 20px;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 40px;
		height: 40px;
		background-color: rgb(255, 255, 255);
		color: 3877ee;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		z-index: 20;
		transition: background-color 0.3s ease, box-shadow 0.3s ease;
		box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);

		&:hover {
			box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.3);
		}

		&::after {
			font-size: 20px;
			font-weight: bold;
		}
	}

	.swiper-button-next {
		right: 10px;
		margin-right: 20px;
	}

	.swiper-button-prev {
		left: 0px;
		margin-left: 20px;
	}

	.timeline-active-title {
		position: absolute;
		font-size: 20px;
		font-weight: bold;
		color: $color-lines;
		z-index: 10;
		top: 0;
		left: 0;
		transform: translate(56px, -50%);
		white-space: nowrap;
	}

	.timeline-date {
		position: absolute;
		top: 50%;
		font-size: 200px;
		font-weight: bold;
		z-index: 1;
		transform: translate(-50%, -50%);

		&.from {
			left: 0;
			color: #5d5fef;
		}

		&.to {
			left: 100%;
			color: #ef5da8;
		}
	}
}
